# Copy/paste this file into your user's crontab

# Format:
# Minute | Hour | Day (Month) | Month | Day (Week) | Command

# Can substitute these macros instead of numbers...
# string         meaning
# ------         -------
# @reboot        Run once, at startup.
# @yearly        Run once a year, "0 0 1 1 *".
# @annually      (same as @yearly)
# @monthly       Run once a month, "0 0 1 * *".
# @weekly        Run once a week, "0 0 * * 0".
# @daily         Run once a day, "0 0 * * *".
# @midnight      (same as @daily)

############################################

# fish functions need to be prefaced with ``fish -c`` to run the
# command in a fish shell (within this user's context)

# update fish completions once a week
@weekly fish -c fish_update_completions
