[submodule "deps/fisherman"]
	path = deps/fisherman
	url = https://github.com/fisherman/fisherman.git
[submodule "deps/ls--"]
	path = deps/ls--
	url = https://github.com/trapd00r/ls--.git
[submodule "deps/oh-my-fish"]
	path = deps/oh-my-fish
	url = https://github.com/oh-my-fish/oh-my-fish.git
[submodule "deps/powerline"]
	path = deps/powerline
	url = https://github.com/powerline/powerline.git
[submodule "deps/powerline-fonts"]
	path = deps/powerline-fonts
	url = https://github.com/powerline/fonts.git
[submodule "configs/vim/bundle/Vundle.vim"]
	path = configs/vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "deps/Term-ExtendedColor"]
	path = deps/Term-ExtendedColor
	url = https://github.com/trapd00r/Term-ExtendedColor.git
[submodule "deps/Vundle.vim"]
	path = deps/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
