[submodule "configs/vim/bundle/vundle"]
	path = configs/vim/bundle/vundle
  url = git@github.com:rykugur/vundle.git
  branch = master
[submodule "deps/ls--"]
	path = deps/ls--
	url = git@github.com:rykugur/ls--.git
	branch = master
[submodule "deps/oh-my-fish"]
	path = deps/oh-my-fish
	url = git@github.com:rykugur/oh-my-fish.git
	branch = master
[submodule "deps/powerline"]
	path = deps/powerline
	url = git@github.com:rykugur/powerline.git
	branch = develop
[submodule "deps/powerline-fonts"]
	path = deps/powerline-fonts
	url = git@github.com:rykugur/powerline-fonts.git
	branch = master
