[submodule "powerline"]
	path = powerline
	url = https://github.com/rykugur/powerline
[submodule "powerline-fonts"]
	path = powerline-fonts
	url = https://www.github.com/rykugur/powerline-fonts
[submodule "vim/bundle/vundle"]
	path = vim/bundle/vundle
	url = https://www.github.com/rykugur/vundle
[submodule "prezto"]
	path = prezto
	url = git@github.com:rykugur/prezto.git
[submodule "oh-my-fish"]
	path = oh-my-fish
	url = git@github.com:rykugur/oh-my-fish.git
