# ignore these directories as they will be installed as submodules by vundle
comments.vim
delimitMate
indentLine
nerdtree
rainbow_parentheses.vim
supertab
tagbar
vim-fugitive
vim-indent-guides
vim-surround
TaskList.vim
neocomplcache.vim
syntastic
slimv.vim
vim-airline
vim-cucumber
vim-rails
YouCompleteMe
vim-go
tabular
vim-markdown
vim-orgmode
scratch.vim
unite.vim
vimproc.vim
vim-speeddating
vim-multiple-cursors
gocode
vim-fish
vim-commentary
fish.vim
quick-scope
ctrlp.vim
vim-misc
vim-notes
vim-airline-themes
vimwiki
vim-auto-save
neocomplete.vim

# ignore Vundle.vim, it should be checked out in ~/gits/Vundle.vim instaed
Vundle.vim
