# ignore these directories as they will be installed as submodules by vundle
comments.vim
delimitMate
indentLine
nerdtree
rainbow_parentheses.vim
supertab
tagbar
vim-fugitive
vim-indent-guides
vim-surround
TaskList.vim
neocomplcache.vim
syntastic
slimv.vim
vim-misc
vim-notes
ctrlp.vim
vim-airline
vim-cucumber
vim-rails
YouCompleteMe
vim-go
tabular
vim-markdown
vim-orgmode
