<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">
	<menu id="web_menu" label="web">
    <item label="firefox">
      <action name="Execute">
        <command>firefox</command>
      </action>
    </item>
	</menu>
	<menu id="terminal_menu" label="terminal">
    <item label="urxvtc">
      <action name="Execute">
        <command>urxvtc</command>
      </action>
    </item>
    <item label="urxvt">
      <action name="Execute">
        <command>urxvt</command>
      </action>
    </item>
    <item label="xterm">
      <action name="Execute">
        <command>xterm</command>
      </action>
    </item>
	</menu>

	<menu id="edit_menu" label="edit">
    <item label="obconf">
      <action name="Execute">
        <command>obconf</command>
        <startupnotify><enabled>yes</enabled></startupnotify>
      </action>
    </item>
    <item label="reconfigure openbox">
      <action name="Reconfigure" />
    </item>
	</menu>

  <menu id="logout_menu" label="logout?">
    <item label="lock">
      <action name="Execute">
        <command>~/.dotfiles/misc/scripts/pixellock</command>
      </action>
    </item>
    <item label="logout">
      <action name="Exit">
      </action>
    </item>
    <item label="suspend">
      <action name="Execute">
        <command>~/.dotfiles/misc/scripts/suspend</command>
      </action>
    </item>
    <separator />
    <item label="reboot">
      <action name="Execute">
        <command>systemctl reboot</command>
      </action>
    </item>
    <separator />
    <item label="poweroff">
      <action name="Execute">
        <command>systemctl poweroff</command>
      </action>
    </item>
  </menu>

	<!-- set the actual menu items that are visible within the root menu -->
  <menu id="root-menu" label="root">
		<menu id="web_menu" />
		<separator />
		<menu id="terminal_menu" />
		<menu id="edit_menu" />
    <separator />
		<menu id="logout_menu" />
  </menu>
</openbox_menu>
